<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Authentication</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body style="background-color:#e7bbca" class="bg-light d-flex align-items-center justify-content-center vh-100">
    <div class="container text-center">
        <h1 class="mb-4">Welcome</h1>
        <a href="{{url_for('user_login')}}" class="btn btn-primary btn-lg mb-2">User Login Page</a><br>
        <a href="{{url_for('creator_login')}}" class="btn btn-primary btn-lg mb-2">Creator Login Page</a><br>
        <a href="{{url_for('admin_login')}}" class="btn btn-secondary btn-lg mb-2">Admin Login Page</a><br>

        <p class="lead mt-3">Don't have an account? <a href="{{url_for('register')}}">Register Page</a></p>
    </div>

    <!-- Add Bootstrap JS and other dependencies here if needed -->
    <!-- Bootstrap JS is required for certain features like dropdowns -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
