<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Edit Page</title>
    <!-- Add Bootstrap CSS link here if not already included -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/6ec9c7cfba.js"
    crossorigin="anonymous">
</script>
</head>
<body>
    <div class="container mt-5">
        <h1>Edit and Delete Songs</h1>
        <div class="container mt-5">
            <div class="row">
                <div class="col text-right">
                    <a href="{{ url_for('creator_page') }}" style="color: black; text-decoration: none;">
                        <p>
                        <i class="fa fa-user-circle-o" style="font-size:30px;"></i>
                    </p></a>
                </div>
            </div>
            </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Song ID</th>
                    <th>Song Title</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Lyrics</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="song-list">
                {% for result in songs %}
                <tr>
                    <td>{{result.id}}</td>
                    <td>{{result.title}}</td>
                    <td>{{result.artist.username}}</td>
                    <td>{{result.album.title}}</td>
                    <td>{{result.lyrics}}</td>
                    <td>
                        <a href="{{ url_for('edit_song', song_id=result.id) }}" class="btn btn-primary">Edit</a>
                    </td>
                    <td>
                        <a href="{{ url_for('delete__song', song_id=result.id) }}" class="btn btn-primary">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>
